<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Password change notification!</h1>
    <p>
      Hi! <%= @user.name %>, 
    </p>
    <p>
      We have succesfully change your password.<br/>
    </p>
    <p>
      If you believe you have received this email in error, or that an unauthorized person has accessed your account, please go to <%= new_password_reset_url %> to reset your password immediately. 
    </p>
    <p>Thanks!</p>
  </body>
</html>